<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="flu" class="sicktype.Flu"/>
    <bean id="head" class="sicktype.Headache"/>

    <bean id="doctorflu" class="Doctor">
        <property name="illness">
            <ref bean="flu"/>
        </property>
    </bean>

    <bean id="doctorhead" class="Doctor">
        <property name="illness">
            <ref bean="head"/>
        </property>
    </bean>

</beans>